* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#main {
  width: 100vw;
  height: fit-content;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #1b182e;
}

#nav {
  width: 100vw;
  background-color: #1f1e25;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.4rem 5rem;
}
